
.background{
    background-image: url("../images/background.jpg");
    height: 1080px;
    width: 100%;
}
#title{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    color: white;
    
}
.battle{
    font-size: 150%;
}
.charBox{
    height: 170px;
    width: 200px;
    padding: 10px;
    margin: 5px;
    border: 3px solid green;
    background-color: white;
}

.charBox2{
    height: 170px;
    width: 200px;
    padding: 10px;
    margin: 5px;
    border: 3px solid red;
    background-color: white;
}

.charBox3{
    height: 170px;
    width: 200px;
    padding: 10px;
    margin: 5px;
    border: 3px solid red;
    background-color: black;
}
.charName{
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    text-align: center;
    color: black;
}
.charName2{
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    text-align: center;
    color: white;
}
#charSelect{
    font-family: 'Oswald', sans-serif;
    color: white;
}
.charValue{
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    text-align: center;
    color: black;
}
.charValue2{
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    text-align: center;
    color: white;
}
.images{
    margin-left: 10px;
    height: 100px;
    width: 150px;
}

.row{
    font-family: 'Oswald', sans-serif;
    color: white;

}